@import "reset.css";

.button-link,
.button-link:visited,
.button-link:link,
.button-link:active {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
.button-link:hover {
  text-decoration: none !important;
  text-decoration-line: none;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

body {
  font-family: "Raleway", sans-serif;
}

img {
  width: 100vw;
}

p {
  text-align: center;
  margin: 10px;
}

.copy {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.btn-link {
  color: grey;
}

.aboutReiki {
  display: flex;
  flex-direction: column-reverse;
}

.customButton {
  background-color: #d08749;
  margin: 5vw;
  padding: 10px;
  color: white;
}

.bookASession {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logo {
  width: 150px;
}

.Footer > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  justify-content: center;
}

.desktopOnly {
  display: none;
}
.socialMedia {
  font-size: 24px;
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 3%;
}

.form-group {
  margin: 5%;
}
.slots {
  display: flex;
  padding: 3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bookingSlot {
  background-color: #2323231c;
  border-radius: 5px;
  width: 100%;
  padding: 3%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .slots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .container {
    width: 70%;
  }

  .button-link,
  .button-link:visited,
  .button-link:link,
  .button-link:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
  .button-link:hover {
    text-decoration: none !important;
    text-decoration-line: none;
  }

  .bookingSlot {
    background-color: #2323231c;
    border-radius: 5px;
    width: 100% !important;
    padding: 3%;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  img {
    width: 50vw;
  }
  .aboutCarolina,
  .aboutReiki {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 50px;
  }

  .ourNav {
    display: flex !important;
    align-items: baseline !important;
  }

  .customNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    padding-bottom: 0;
  }

  .Logo {
    width: 200px;
  }

  .copy {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  .contactImages {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .contactImages img {
    width: 30%;
    object-fit: cover;
    padding: 20px;
    margin-top: 10px;
  }
  .desktopOnly {
    display: block;
  }
  .contactBox {
    line-height: 150%;
    padding: 2%;
  }

  .contactBox h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .contactBox p {
    font-size: 18px;
  }

  .customButton {
    background-color: #d08749;
    padding: 10px;
    color: white !important;
    text-decoration: none;
    margin-top: 10px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33vw;
    margin: auto;
    padding: 3%;
  }
  .form-group {
    margin: 5%;
  }
}
